<span class={{this.componentType}} ...attributes
  {{did-insert this.inserted }}
  {{did-update this.class @class}}
  {{did-update this.style @style}}
  {{did-update this.chipProps @chipProps}}
  {{did-update this.clearText @clearText}}
  {{did-update this.closeText @closeText}}
  {{did-update this.componentsProps @componentsProps}}
  {{did-update this.defaultValue @defaultValue}}
  {{did-update this.disableClearable @disableClearable}}
  {{did-update this.disabled @disabled}}
  {{did-update this.disabledItemsFocusable @disabledItemsFocusable}}
  {{did-update this.filterOptions @filterOptions}}
  {{did-update this.filterSelectedOptions @filterSelectedOptions}}
  {{did-update this.forcePopupIcon @forcePopupIcon}}
  {{did-update this.getOptionDisabled @getOptionDisabled}}
  {{did-update this.groupBy @groupBy}}
  {{did-update this.inputValue @inputValue}}
  {{did-update this.listboxProps @listboxProps}}
  {{did-update this.loading @loading}}
  {{did-update this.loadingText @loadingText}}
  {{did-update this.noOptionsText @noOptionsText}}
  {{did-update this.open @open}}
  {{did-update this.openText @openText}}
  {{did-update this.options @options}}
  {{did-update this.size @size}}
  {{did-update this.sx @sx}}
  {{did-update this.globalThemeChanged this.themeManager.theme}}
  {{did-update this.value @value}}

  {{did-update this.color @color}}
  {{did-update this.error @error}}
  {{did-update this.helperText @helperText}}
  {{did-update this.label @label}}
  {{did-update this.required @required}}
  {{did-update this.variant @variant}}
>{{yield}}</span>