<span class={{this.componentType}} ...attributes
  {{did-insert this.inserted }}
  {{did-update (fn this.setReactState 'classString' @class) @class}}
  {{did-update this.style @style}}
  {{did-update (fn this.setReactState 'color' @color) @color}}
  {{did-update (fn this.setReactState 'disabled' @disabled) @disabled}}
  {{did-update (fn this.setReactState 'disableElevation' @disableElevation) @disableElevation}}
  {{did-update (fn this.setReactState 'disableFocusRipple' @disableFocusRipple) @disableFocusRipple}}
  {{did-update (fn this.setReactState 'disableRipple' @disableRipple) @disableRipple}}
  {{did-update (fn this.setReactState 'disableTouchRipple' @disableTouchRipple) @disableTouchRipple}}
  {{did-update (fn this.setReactState 'fullWidth' @fullWidth) @fullWidth}}
  {{did-update (fn this.setReactState 'href' @href) @href}}
  {{did-update (fn this.setReactState 'size' @size) @size}}
  {{did-update (fn this.setReactState 'sx' @sx) @sx}}
  {{did-update (fn this.setReactState 'variant' @variant) @variant}}
  {{did-update (fn this.setReactState 'theme' this.themeManager.theme) this.themeManager.theme}}
  ></span>{{yield}}<div id={{this.lastChildId}}></div>