<span class={{this.componentType}} ...attributes
  {{did-insert this.inserted }}
  {{did-update this.class @class}}
  {{did-update this.style @style}}
  {{did-update this.globalThemeChanged this.themeManager.theme}}
  {{did-update this.avatar @avatar}}
  {{did-update this.clickable @clickable}}
  {{did-update this.color @color}}
  {{did-update this.disabled @disabled}}
  {{did-update this.iconChanged @icon}}
  {{did-update this.iconChanged @iconProps}}
  {{did-update this.label @label}}
  {{did-update this.size @size}}
  {{did-update this.sx @sx}}
  {{did-update this.variant @variant}}
></span>{{yield}}<div id={{this.lastChildId}}></div>