<span class={{this.componentType}} ...attributes
  {{ember-paper-reactable this.inserted this.changeReactState this.argMonitor this.args}}
></span>
<span id={{this.childrenSpanId}}>
  {{yield}}
</span>
<div id={{this.lastChildId}}></div>