<span ...attributes
  {{did-insert this.inserted }}
  {{did-update this.class @class}}
  {{did-update this.style @style}}
  {{did-update this.open @open}}
  {{did-update this.fullScreen @fullScreen}}
  {{did-update this.fullWidth @fullWidth}}
  {{did-update this.maxWidth @maxWidth}}
  {{did-update this.sx @sx}}
  {{did-update this.globalThemeChanged this.themeManager.theme}}
>{{yield}}</span>
