<span class={{this.componentType}} ...attributes
  {{did-insert this.inserted }}
  {{did-update (fn this.setReactState 'classString' @class) @class}}
  {{did-update this.style @style}}
  {{did-update (fn this.setReactState 'elevation' @elevation) @elevation}}
  {{did-update (fn this.setReactState 'square' @square) @square}}
  {{did-update (fn this.setReactState 'sx' @sx) @sx}}
  {{did-update (fn this.setReactState 'variant' @variant) @variant}}
  {{did-update (fn this.setReactState 'theme' this.themeManager.theme) this.themeManager.theme}}
></span>
<span id={{this.childrenSpanId}}>
  {{yield}}
</span>
<div id={{this.lastChildId}}></div>