<span class={{this.componentType}} ...attributes
  {{ember-paper-reactable this.inserted this.changeReactState this.changeArgs}}
>
  {{#if (has-block 'avatar')}}
    <AttributeNodeChild class="react=component {{this.avatar}}" @attribute={{this.avatar}} @loadAttributeInfo={{this.loadAttributeInfo}}>{{yield to='avatar'}}</AttributeNodeChild>
  {{/if}}
</span>