<span class={{this.componentType}} ...attributes
  {{ember-paper-reactable this.inserted this.changeReactState this.changeArgs}}
></span>
<span id='groupHeaders' class='react-component'></span>{{yield to='groupHeaders'}}<span id='end_groupHeaders'></span>
<span id='options' class='react-component'></span>{{yield to='options'}}<span id='end_options'></span>
<div id={{this.lastChildId}}></div>